include scripts

doctype html
html
  head
    title
      block title
      | Stanisla

    link(rel='stylesheet', href='css/style.css')
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0")
    meta(name='HandheldFriendly', content='true')
    meta(name='format-detection', content='telephone=no')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-touch-fullscreen", content="yes")
    meta(name="-webkit-text-size-adjust", content="100%")
    meta(name="title", content="Stanisla")
    meta(name="description", content="Handcrafts and wool by Stanisla")

  body
    main
      div.pear
        img(src='images/pear.jpg')
      div.description
        img.logo(src='images/stanisla_logo.svg')
        div.contact-details
          p wool, felt, ecoprint, natural dyeing
          p instagram:
            a.ig(href='https://instagram.com/stanisla') @stanisla
          p
            a(href='tel:+447740029483')
              | +44 77 44 00 29483
          p
            a(href='mailto:stanisla.rachkovskaya@gmail.com') stanisla.rachkovskaya@gmail.com
      div.pear-mobile
        img(src='images/pear.jpg')
    +scripts
